@import url(../variables.css);
@import "../mixins.scss";

body{

   
    overflow-x: hidden;
  
}

#home-bottom-flexbox-border{
    border: 1px solid black;
    padding: 5px;



    #home-bottom-flexbox{

        @include flex(flex, column, nowrap, center, default);

        

        max-width: var(--width--elements--page);

        background-color: #d1d0d0;
    


    

        

        .divisor{
            background-color: black;

            width: 100%;
            height: 4px;

            margin-top: 2%;
        }


        #home-bottom-flexbox-section1{

            @include flex(flex, row, nowrap, space-between, center);
           
            
            height: 40px;

            border-top: 1px solid var(--color--black);
            border-bottom: 1px solid var(--color--black);


            margin-top: 10px;
            margin-bottom: 10px;

            #home-bottom-flexbox-section1-tittle{
                @include flex(flex, row, nowrap, center, center);
                p{
                    margin-left: 10px;
                }
            }
            #home-bottom-flexbox-section1-more{
                @include flex(flex, row, nowrap, center, center);

                border-left-style: double;
                
                padding-left: 10px;
            }

            
        }


        #home-bottom-flexbox-section2{
            display: flex;
        

            .home-bottom-flexbox-seccion2-section{
                @include flex(flex, column, nowrap, default, default);


                flex: 1 0 200px;

                padding-left: 25px;
                padding-right: 25px;

                margin-top: 20px;

                img{
                    width: 100%;
                }
            }

            

            .border-left{
                border-left: 1px solid var(--color--black);
            }
        }

        #home-bottom-flexbox-section1-more2{
            display: none;
        }
    }
}


@media (max-width: 1244px){

    #home-bottom-flexbox-border{
        #home-bottom-flexbox{
        
        
        
            #home-bottom-flexbox-section2{
            
        
                
                
            
        
                .home-bottom-flexbox-seccion2-section:last-of-type{
                    display: none;
                    
                }
        
                
        
                
            }
        }
        


}
}


@media (max-width: 992px){

    #home-bottom-flexbox-border{
        #home-bottom-flexbox{
        
        
        
            #home-bottom-flexbox-section2{
            
        
                overflow-x: scroll;
                
            
        
                .home-bottom-flexbox-seccion2-section{
                
                
                &:last-of-type{
                    display: flex;
                    
                }
        
            }
        
                .border-left{
                    border-left: 1px solid black;
                }
            }
        }

    }
}


@media (max-width: 768px){
    #home-bottom-flexbox-border{
        width: 100%;
        padding: 0px;
        
    
    
    
        #home-bottom-flexbox{
            width: 100%;
          
        
    
    
           
    
    
            #home-bottom-flexbox-section1{
              
                #home-bottom-flexbox-section1-more{
                    display: none;
                   
                }
    
                
            }
    
    
           
            
    
            #home-bottom-flexbox-section1-more2{
                @include flex(flex, column, nowrap, default, center);
                
                margin-bottom: 10px;

               
              
                p{
                    @include flex(flex, row, nowrap, center, center);
                    
                    border: 1px solid black;
                    margin-top: 20px; 
                    height: 40px;
                    width: 100px;
                }

                
                
            }
        }
    }

}


