* {
    margin: 0;
    justify-content: center;
}

body {
    display: block;
    margin-left: 15%;
    margin-right: 15%;
}

.navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 130px;
}

img {
    cursor: pointer;
    width: 400px;
}

.linea {
    height: 1px;
    width: 10px;
    background-color: black;
}

.nvLn {
    height: 6px;
    background-color: black;
    position: absolute;
    right: 0;
    left: 0;
}

.aLeft a , .aRigth a {
    text-decoration: none;
    display: block;
    color: black;
    transition: 0.3s;
    padding: 2px;
}

.aLeft a:hover , .aRigth a:hover {
    text-decoration: underline;
    color: rgb(199, 199, 199)
}

.aRigth , .aLeft {
    position: relative;
}

.aLeft .linea {
    position: absolute;
    left: 2px;
}

.aRigth .linea {
    position: absolute;
    right: 2px;
}

.aRigth a {
    text-align: end;
}

.navBottom , .navBottom ul , li , a {
    display: flex;
    gap: 20px;
    text-decoration: none;
    color: black;
}

.navBottom {
    align-items: center;
    justify-content: space-around;
    height: 40px;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 12px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: absolute;
    right: 0;
    left: 0;
}

.navBottom ul li {
    position: relative;
}

.navBottom ul li a {
    font-size: 14px;
    transition: 0.4s;
}

.navBottom ul li a:hover {
    color: #ff0000;
}

.navBottom ul li a::before {
    display: block;
    content: '';
    opacity: 0;
    background: #ff0000;
    height: 5px;
    top: 23px;
    position: absolute;
    transition: 0.4s;
}

.navBottom ul li a:hover::before {
    opacity: 100;
    width: 100%;
}

.ico {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: black;
}

.ContI1 {
    position: relative;
    padding: 2px;
    margin-top: 100px;
    border: 3px solid black;
}

.ContI1-2 {
    padding: 2px;
    border: 3px solid black;
}

.ContI1-3 {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 2px;
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
}

.ContI1-3 .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 10px;
    margin: 20px;
    text-align: center;
}

.ContI1-3 .item .Circle {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px;
    height: 150px;
    width: 150px;
    border: 3px solid black;
    border-radius: 50%;
}

.ContI1-3 .item .Circle img {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    border-radius: 50%;
}

.ContI1-3 .item .Cb {
    position: relative;
    display: flex;
    flex-direction: column;
}

.ContI1-3 .item .Cb .ln1 {
    height: 1px;
    width: 30px;
    background-color: #000000;
}

.ContI1-3 .item .lineLateral {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    right: -30px;
    height: 250px;
    width: 1px;
    background-color: #000000;
}

.titleRS {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.titleRS div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    height: 45px;
    width: 45px;
    background-color: #ff0000;
}

.titleRS div h1 {
    color: white;
    font-size: 25px;
}

.titleRS-1 {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 330px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}

.titleRS-1 .box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 300px;
    border: 1px solid black;
}

.titleRS-1 .box button {
    cursor: pointer;
    height: 35px;
    width: 290px;
    border: #00000000;
    background-color: #000000;
    color: white;
    font-size: large;
}

@media only screen and (max-width: 1600px) {
    body {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media only screen and (max-width: 1400px) {
    body {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width: 1200px) {
    .ContI1-3 {
        grid-template-columns: repeat(4, 1fr);
    }

    .ContI1-3 .item2 {
        display: none;
    }
}

@media only screen and (max-width: 950px) {
    body {
        margin-left: 10px;
        margin-right: 10px;
    }

    .navBottom {
        padding-left: 0;
        padding-right: 0;
    }

    .ContI1-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    .ContI1-3 .item3 {
        display: none;
    }
}

@media only screen and (max-width: 750px) {
    .aLeft {
        display: none;
    }

    .navBottom {
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }

    .navBottom ul li a {
        display: none;
    }
}